@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-app-gray-950;
  }

  .p-side {
    @apply px-4 md:px-6 lg:px-8 2xl:px-10;
  }

  .p-square {
    @apply p-4 md:p-6;
  }

  /* //? GRID LAYOUT */
  .main-layout {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
  }

  .navbar-grid {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;

    @media only screen and (max-width: 1024px) {
      grid-template-columns: 1fr max-content max-content;
      gap: 8px;
    }
  }

  /* //? BUTTONS  */
  .transparent-btn {
    @apply bg-inherit hover:bg-app-gray-100 px-2.5 py-1.5 transition-colors duration-200 rounded-md;
  }

  /* //? Stop scrolling */
  .no-scroll {
    overflow: hidden;
  }
}
