@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-app-gray-950;
  }

  .p-side {
    @apply px-4 md:px-6 lg:px-8 2xl:px-10;
  }

  .p-axis {
    @apply py-4 md:py-6 lg:py-8 2xl:py-10;
  }

  .p-square {
    @apply p-4 md:p-6;
  }

  /* //? GRID LAYOUT */
  .main-layout {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
  }

  .navbar-grid {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 600px) 1fr;

    @media only screen and (max-width: 1024px) {
      grid-template-columns: 1fr max-content max-content;
      gap: 8px;
    }
  }

  .campaign-grid {
    display: grid;
    grid-template-columns: minmax(min-content, 900px) 412px;

    @media only screen and (max-width: 1224px) {
      grid-template-columns: 1fr;
    }
  }

  .contribute-grid {
    display: grid;
    grid-template-columns: 1fr 432px;

    @media only screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  .account-navigation-grid {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
  }

  .dashboard-navigation-grid {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;
  }

  /* //? BUTTONS  */
  .transparent-btn {
    @apply bg-inherit max-sm:focus:bg-none sm:hover:bg-app-gray-100 px-2.5 py-1.5 transition-colors duration-200 rounded-md text-inherit;
  }

  /* //? Stop scrolling */
  .no-scroll {
    overflow: hidden;
  }

  .no-scrollBis {
    overflow: hidden;
  }

  .customScroll {
    padding: 0;
    scrollbar-width: 16px;
    scrollbar-color: #d2d2d2 transparent;
    scroll-behavior: smooth;
  }

  /* Hid Spinners */

  /* Hide the arrow buttons in WebKit browsers */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide the arrow buttons in Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  /* ? Table */
}
